<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

  <title>Document</title>
</head>

<body>
  <!-- Navigation Bar -->

  <header class="header">
    <h1 class="logo"><a href="#"> Veritas </a></h1>
    <ul class="main-nav">
      <li><a href="#">Profile</a></li>
    </ul>
  </header>

  <!-- Navigation Bar End -->

  <div class="main_Container">
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Our Offerings</h1>
    <div class="offerings">
      <!-- Cards -->
      {% for product_name in products %}
      {% include 'partials/product_card.html' %}
      {% endfor %}
      <!-- Cards End -->
    </div>

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cart</h1>
    <div class="cart">
      <!-- Cards -->

      <!-- Cards End -->
    </div>

    <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Recommendations</h1>
    <div class="recommendations" id="recommendations">
      <!-- Cards -->

      <!-- Cards End -->
    </div>
  </div>
  <script type="text/javascript">
    const mainContainer = document.querySelector('.main_Container');
    const recContainer = document.querySelector('#recommendations');

    const cart = new Set();

    mainContainer.addEventListener('click', (event) => {
      const card = event.target.closest('.card');
      if (card) {
        const isOffering = card.closest('.offerings');
        if (isOffering) {
          const clonedCard = card.cloneNode(true);
          const cartSection = document.querySelector('.cart');
          cartSection.appendChild(clonedCard);

          cart.add(clonedCard.getAttribute('id'));

          card.remove();
        } else {
          const clonedCard = card.cloneNode(true);
          const offeringsSection = document.querySelector('.offerings');
          offeringsSection.appendChild(clonedCard);

          cart.delete(card.getAttribute('id'))

          card.remove();
        }

        fetch(`/api/recommendations?cart=${[...cart].join(',')}`)
          .then((res) => res.json())
          .then((data) => {  recContainer.innerHTML = ''; return data; })
          .then(data => {
            data.forEach(recommendation => {
              recContainer.innerHTML += `
            <div class="card" class="A1" id="${recommendation}">
              <div class="card-image" class="A1">
                  <img src="static/images/${recommendation}.png" alt="${recommendation}" />
              </div>
              <div class="category" class="A1">Products</div>
              <div class="heading" class="A1">
                ${recommendation}
              </div>
          </div>
            `
            })
          })
      }
    });


  </script>
</body>

</html>