<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style1.css') }}" />

    <title>Document</title>
  </head>
  <body>
    <!-- Navigation Bar -->

    <header class="header">
      <h1 class="logo"><a href="#"> Veritas </a></h1>
      <ul class="main-nav">
        <li><a href="#">Profile</a></li>
      </ul>
    </header>

    <!-- Navigation Bar End -->

    <div class="main_Container">
      
      
        <div class="Tleft"> <span id="sales_without"> 50% </span> </div>
        <div class="Tright"> <span id="sales_with"> 50% </span>  </div>
        <div class="Bleft"> <h1> Sales Without Upsales </h1></div>
        <div class="Bright"> <h1> Sales With our Solution </h1> </div>
      
    </div>
    
  </body>
</html>


